<main role="main">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/img/personas-tomando-jugo.jpg" width="100%" height="400" alt="Imagen 1" class="covid-carrusel-img">
            <div class="container">
            <div class="carousel-caption text-left">
                <h1>Mantén el distanciamiento social</h1>
                <p>Evita estar en contacto con otras personas o en caso contrario hacerlo cumpliendo los 2 metros distancia de persona a persona.</p>
                <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>-->
            </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/manos.jpg" width="100%" height="400" alt="Imagen 2" class="covid-carrusel-img">
            <div class="container">
            <div class="carousel-caption">
                <h1>Lávate o desinféctate las manos constantemente.</h1>
                <p>Recuerda que el virus puede estar presente en cualquier superficie y para evitar que mas personas sean contagiadas es necesario realizar esta accón.</p>
                <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>-->
            </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/fichas.jpg" width="100%" height="400" alt="Imagen 3"  class="covid-carrusel-img">
            <div class="container">
            <div class="carousel-caption text-right">
                <h1>La COVID-19 ha afectado y afectará a personas de muchos países. No la relaciones con ninguna etnicidad ni nacionalidad.</h1>
                <p>Muestra empatía con todos los afectados de cualquier país. Todos merecen nuestro apoyo, comprensión y generosidad.</p>
                <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>-->
            </div>
            </div>
        </div>
        </div> 
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
    </div>
    

    <div class="container marketing" style="margin-top: 50px; " >
    <!-- Three columns of text below the carousel -->
        <div class="row">
        <div class="col-lg-4">
            <img src="/img/sebastian.jpeg" width="140" height="140" alt="Participante 1" class="desarrolladores">
            <h2 class="nombre-desarrollador-sebastian" >Sebastian Asis Romero</h2>
            <p class="descri-desarrollador">Desarrollador y Estudiante de Ingeniería de Software en la UNMSM <br><br><a id="github" href="https://github.com/SebastianAsisRomero" target="blank"> <i  class="fab fa-github"></i></a>
            <a id="instagram"href="https://www.instagram.com/sebasthian_1099/" target="blank"> <i class="fab fa-instagram"></i></a>  
            
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="/img/diego.jpeg" width="140" height="140" alt="Participante 2" class="desarrolladores diego">
            <h2 class="nombre-desarrollador-diego" style="">Diego León Ortiz</h2>
            <p class="descri-desarrollador">Desarrollador y Estudiante de Ingeniería de Software en la UNMSM <br><br><a id="github" href="https://github.com/DiegoLeon23" target="blank"> <i  class="fab fa-github"></i></a>
            <a id="instagram"href="https://www.instagram.com/diego_lo13/" target="blank"> <i class="fab fa-instagram"></i></a>  
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="/img/kioshi.jpeg" width="140" height="140" alt="Participante 3" class="desarrolladores">
            <h2 class="nombre-desarrollador-kioshi" style="">Kioshi Okamoto Rojas</h2>
            <p class="descri-desarrollador">Desarrollador y Estudiante de Ingeniería de Software en la UNMSM <br><br><a id="github" href="https://github.com/kioshiokamoto" target="blank"> <i  class="fab fa-github"></i></a>
            <a id="instagram"href="https://www.instagram.com/kioshiokamoto/" target="blank"> <i class="fab fa-instagram"></i></a>  
              
        </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">
        <br>

        <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">#NO TE CONFÍES. </h2>
            <p class="lead"><b>¡No te confíes!</b> Sé consciente por favor, nadie es inmune a este virus y sigue entre nosotros.Nos aislamos hoy, para que cuando nos volvamos a juntar no falte nadie. Recuerda mantener la distancia social en todo momento y llevar siempre la mascarilla. No acudas a lugares done haya demasiada concurrencia. Cuídate porque así cuidas a tu familia y seres queridos. <br><br><b>Protégete y apoya a los demás.</b> Por ejemplo, llama por teléfono a tus vecinos a personas de tu comunidad que puedan requerir asistencia adicional. Una comunidad que trabaja unida crea lazos solidarios para abordar el coronavirus. <br><br><b>Ayuda a difundir las historias de esperanza y las imágenes positivas de personas que han tenido la COVID-19.</b> Pueden ser historias de personas que se han recuperado o que han cuidado a sus seres queridos y están dispuestas a compartir sus experiencias.</p>
        </div>
        <div class="col-md-5">
            <img src="/img/foto-covid1.png" width="450" height="450" alt="Landing-page1" style="object-fit:cover;">
        </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">#STAY AT HOME</h2>
            <p class="lead"><b>Cuarentena en el hogar. </b>Si las autoridades de salud te han recomendado limitar tu contacto social y físico para contener la pandemia, mantente conectado por correo electrónico, redes sociales, videoconferencia y/o teléfono. <br><br><b>Evita en lo posible ver, leer o escuchar noticias que te causen ansiedad o angustia. </b>Busca informacion solo de fuentes confiables para tomar medidas prácticas al planificar cómo protegerte y protege a tus seres queridos. <br><br><b>Aprende ejericios fisicos sencillos que puedas hacer en casa a diario. </b>Esto te ayudará a sentirte activo y evitará que te aburras en caso de que necesites quedarte en casa.</p>
        </div>
        <div class="col-md-5 order-md-1">
           <img src="/img/foto-covid2.png" width="450" height="450" alt="Landing-page1"  style="object-fit:cover;" >
        </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">#NO MÁS MUERTES</h2>
            <p class="lead"><b>Personas con enfermedades subyacentes.</b> Si tienes una condición de salud subyacente, asegúrate de tener acceso a los medicamentos que actualmente tomas. Activa tus contactos sociales, pídeles ayuda si la necesitas. <br><br><b>Líderes de equipos o gerentes de establecimientos de salud.</b> Mantener a su personal protegido del estres y de una mala salud mental durante esa respuesta,dará luar a un mejor rendimiento. <br><br><b>Honra a los trabajadores de la salud y los proveedores de cuidado de tu comunidad que velan por las personas con la COVID-19.</b> Reconoce el papel que estas personas juegan para salvar vidas y mantener a tus seres queridos seguros.</p>
        </div>
        <div class="col-md-5">
            <img src="/img/foto-covid3.png" width="450" height="450" alt="Landing-page1"  style="object-fit:cover;" >
        </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


</body>
