<main class="bodySignIn" style="width: 100%; margin-top:100px;">
    <!-- Page Content -->
    <div class="container">
        <!-- Portfolio Item Heading -->
        <h1 class="my-5">Resultados Diagnostico Diario </h1>
        <!-- Portfolio Item Row -->
        <div class="row" id="enfermo-contenedor">
            <div class="col-md-8" id="imagen-enfer">
                <img class="img-fluid" src="/img/prueba3.png" alt="enfermo">
            </div>

            <div class="col-md-4">
                <div class="estado-salud">
                    <h3 class="my-3">Estado de Salud: ENFERMO </h3>
                    <p>Poco a poco saldremos de esta, la lucha no termina, respetemos las normas dictadas por el
                        gobierno y cuidemos de nuestros familiares y amigos</p>
                </div>
                <div class="numeros-emergencia">
                    <h3 class="my-3">Números de emergencia </h3>
                    <ul>
                        <li>Central de emergencias PNP : 105</li>
                        <li>Linea para atender COVID-19 : 113</li>
                        <li>Atención en Cruz Roja : 01 266-0481</li>
                        <li>Linea Seguridad-Emergencias : 911</li>
                    </ul>
                </div>

            </div>
            <div class="btn-test">
                    <button onclick="location.href='/perfil'" class="btn btn-primary width-100" type="submit" id="btn-regresar">Regresa a tu
                perfil </button>
            </div>
            
        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <h3 class="my-4">¿Como evitar transmitir el virus?</h3>
        <div class="row">

            <div class="col-md-3 col-sm-6 mb-4" id="youtube">

                <a href="https://www.youtube.com/watch?v=jaU7JKVqh8Q" >
                    <img class="img-fluid" src="/img/prueba6enfermo.jpg" alt="" style="height:70%;">
                    ¿Como evitar el contagio en casa?
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4" id="youtube">
                <a href="https://www.youtube.com/watch?v=ei_lBTlQdYU" >
                    <img class="img-fluid" src="/img/prueba5enfermo.jpg" alt="" style="height:70%;">
                    ¿Me lavo las manos correctamente?
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4" id="youtube">
                <a href="https://www.youtube.com/watch?v=tFLynO5uCrs" >
                    <img class="img-fluid" src="/img/prueba7enfermo.jpg" alt="" style="height:70%;">
                     Distanciamiento Social
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4" id="youtube">
                <a href="https://www.youtube.com/watch?v=hdBZl6D3KSc" >
                    <img class="img-fluid" src="/img/prueba8enfermo.jpg" alt="" style="height:70%;">
                   ¿Conoce los protocolos de bioseguridad?
                </a>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</main>