<main class="bodyForm">
    <div class="bodyQuestions">
        <div class="container" style="margin-top: 50px;">
            <div class="py-5 text-center">
                <h2>Descarte de COVID - 19</h2>
                <p class="lead">Recuerde usar siempre mascarilla, protector facial y cumplir con el metro de
                    distanciamento. Tu salud es primero!</p>
                <img class="d-block mx-auto mb-1"
                    src="/img/logoForm.svg" alt="" width="220"
                    height="220">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form id="formularioCovid" class="needs-validation" action="/form" method="POST" novalidate="">
                        <div class="mb-3">
                            <!--Question 1-->
                            <div class="row d-flex justify-content-center">
                                <h3 class="mb-3">¿Tienes fiebre?</h4>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="d-block my-2 ">
                                    <div class="custom-control custom-radio my-2">
                                        <input id="siP1" name="question1" type="radio" class="custom-control-input"
                                            required="yes" value="2">
                                        <label class="custom-control-label" for="siP1">Si</label>
                                    </div>
                                    <div class="custom-control custom-radio my-1">
                                        <input id="noP1" name="question1" type="radio" class="custom-control-input"
                                            required="yes" value="0">
                                        <label class="custom-control-label" for="noP1">No</label>
                                    </div>
                                </div>
                            </div>

                            <!--Question 2-->
                            <div class="row d-flex justify-content-center">
                                <h3 class="mb-3">¿Tienes tos seca?</h4>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="d-block my-2">
                                    <div class="custom-control custom-radio center-block my-2">
                                        <input id="siP2" name="question2" type="radio" class="custom-control-input"
                                            required="" value="1">
                                        <label class="custom-control-label" for="siP2">Si</label>
                                    </div>
                                    <div class="custom-control custom-radio my-1">
                                        <input id="noP2" name="question2" type="radio" class="custom-control-input"
                                            required="" value="0">
                                        <label class="custom-control-label" for="noP2">No</label>
                                    </div>
                                </div>
                            </div>

                            <!--Question 3-->
                            <div class="row d-flex justify-content-center">
                                <h3 class="mb-3">¿Sufres fatiga o cansancio?</h4>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="d-block my-2">
                                    <div class="custom-control custom-radio center-block my-2">
                                        <input id="siP3" name="question3" type="radio" class="custom-control-input"
                                            required="" value="1">
                                        <label class="custom-control-label" for="siP3">Si</label>
                                    </div>
                                    <div class="custom-control custom-radio my-1">
                                        <input id="noP3" name="question3" type="radio" class="custom-control-input"
                                            required="" value="0">
                                        <label class="custom-control-label" for="noP3">No</label>
                                    </div>
                                </div>
                            </div>

                            <!--Question 4-->
                            <div class="row d-flex justify-content-center">
                                <h3 class="mb-3">¿Sientes dolores o molestias en la garganta?</h4>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="d-block my-2 ">
                                    <div class="custom-control custom-radio my-2">
                                        <input id="siP4" name="question4" type="radio" class="custom-control-input"
                                            required="" value="2">
                                        <label class="custom-control-label" for="siP4">Si</label>
                                    </div>
                                    <div class="custom-control custom-radio my-1">
                                        <input id="noP4" name="question4" type="radio" class="custom-control-input"
                                            required="" value="0">
                                        <label class="custom-control-label" for="noP4">No</label>
                                    </div>
                                </div>
                            </div>

                            <!--Question 5-->
                            <div class="row d-flex justify-content-center">
                                <h3 class="mb-3">¿Tienes congestion nasal?</h4>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="d-block my-2">
                                    <div class="custom-control custom-radio center-block my-2">
                                        <input id="siP5" name="question5" type="radio" class="custom-control-input"
                                            required="" value="1">
                                        <label class="custom-control-label" for="siP5">Si</label>
                                    </div>
                                    <div class="custom-control custom-radio my-1">
                                        <input id="noP5" name="question5" type="radio" class="custom-control-input"
                                            required="" value="0">
                                        <label class="custom-control-label" for="noP5">No</label>
                                    </div>
                                </div>
                            </div>

                            <!--Question 6-->
                            <div class="row d-flex justify-content-center">
                                <h3 class="mb-3">¿Has sentido perdida del olfato o gusto?</h4>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="d-block my-2 ">
                                    <div class="custom-control custom-radio my-2">
                                        <input id="siP6" name="question6" type="radio" class="custom-control-input"
                                            required="" value="3">
                                        <label class="custom-control-label" for="siP6">Si</label>
                                    </div>
                                    <div class="custom-control custom-radio my-1">
                                        <input id="noP6" name="question6" type="radio" class="custom-control-input"
                                            required="" value="0">
                                        <label class="custom-control-label" for="noP6">No</label>
                                    </div>
                                </div>
                            </div>

                            <!--Question 7-->
                            <div class="row d-flex justify-content-center">
                                <h3 class="mb-3">¿Has estado en contacto con alguna persona infectada?</h4>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="d-block my-2">
                                    <div class="custom-control custom-radio center-block my-2">
                                        <input id="siP7" name="question7" type="radio" class="custom-control-input"
                                            required=""value="3">
                                        <label class="custom-control-label" for="siP7">Si</label>
                                    </div>
                                    <div class="custom-control custom-radio my-1">
                                        <input id="noP7" name="question7" type="radio" class="custom-control-input"
                                            required="" value="0">
                                        <label class="custom-control-label" for="noP7">No</label>
                                    </div>
                                </div>
                            </div>

                            <!--Question 8-->
                            <div class="row d-flex justify-content-center">
                                <h3 class="mb-3">¿Has sentido dificultad para respirar?</h4>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="d-block my-2 ">
                                    <div class="custom-control custom-radio my-2">
                                        <input id="siP8" name="question8" type="radio" class="custom-control-input"
                                            required="" value="3">
                                        <label class="custom-control-label" for="siP8">Si</label>
                                    </div>
                                    <div class="custom-control custom-radio my-1">
                                        <input id="noP8" name="question8" type="radio" class="custom-control-input"
                                            required="" value="0">
                                        <label class="custom-control-label" for="noP8">No</label>
                                    </div>
                                </div>
                            </div>

                            <!--Question 9-->
                            <div class="row d-flex justify-content-center">
                                <h3 class="mb-3">¿Has tenido malestar estomacal o diarrea?</h4>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="d-block my-2">
                                    <div class="custom-control custom-radio center-block my-2">
                                        <input id="siP9" name="question9" type="radio" class="custom-control-input"
                                            required="" value="1">
                                        <label class="custom-control-label" for="siP9">Si</label>
                                    </div>
                                    <div class="custom-control custom-radio my-1">
                                        <input id="noP9" name="question9" type="radio" class="custom-control-input"
                                            required="" value="0">
                                        <label class="custom-control-label" for="noP9">No</label>
                                    </div>
                                </div>
                            </div>

                            <!--Question 10-->
                            <div class="row d-flex justify-content-center">
                                <h3 class="mb-3">¿Has tenido erupciones cutaneas?</h4>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="d-block my-2 ">
                                    <div class="custom-control custom-radio my-2">
                                        <input id="siP10" name="question10" type="radio" class="custom-control-input"
                                            required="" value="1">
                                        <label class="custom-control-label" for="siP10">Si</label>
                                    </div>
                                    <div class="custom-control custom-radio my-1">
                                        <input id="noP10" name="question10" type="radio" class="custom-control-input"
                                            required="" value="0">
                                        <label class="custom-control-label" for="noP10">No</label>
                                    </div>
                                </div>
                            </div>

                            <!--Question 11-->
                            <div class="row d-flex justify-content-center">
                                <h3 class="mb-3">¿Has tenido cambio de color de las manos o los pies?</h4>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="d-block my-2">
                                    <div class="custom-control custom-radio center-block my-2">
                                        <input id="siP11" name="question11" type="radio" class="custom-control-input"
                                            required="" value="1">
                                        <label class="custom-control-label" for="siP11">Si</label>
                                    </div>
                                    <div class="custom-control custom-radio my-1">
                                        <input id="noP11" name="question11" type="radio" class="custom-control-input"
                                            required="" value="0">
                                        <label class="custom-control-label" for="noP11">No</label>
                                    </div>
                                </div>
                            </div>

                            <!--Question 12-->
                            <div class="row d-flex justify-content-center">
                                <h3 class="mb-3">¿Estuvo en alguna area infectada?</h4>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="d-block my-2 ">
                                    <div class="custom-control custom-radio my-2">
                                        <input id="siP12" name="question12" type="radio" class="custom-control-input"
                                            required="" value="3">
                                        <label class="custom-control-label" for="siP12">Si</label>
                                    </div>
                                    <div class="custom-control custom-radio my-1">
                                        <input id="noP12" name="question12" type="radio" class="custom-control-input"
                                            required="" value="0">
                                        <label class="custom-control-label" for="noP12">No</label>
                                    </div>
                                </div>
                            </div>

                            <!--Question 13-->
                            <div class="row d-flex justify-content-center">
                                <h3 class="mb-3">¿Trabajas en algún establecimiento de salud?</h4>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="d-block my-2">
                                    <div class="custom-control custom-radio center-block my-2">
                                        <input id="siP13" name="question13" type="radio" class="custom-control-input"
                                            required="" value="2">
                                        <label class="custom-control-label" for="siP13">Si</label>
                                    </div>
                                    <div class="custom-control custom-radio my-1">
                                        <input id="noP13" name="question13" type="radio" class="custom-control-input"
                                            required="" value="0">
                                        <label class="custom-control-label" for="noP13">No</label>
                                    </div>
                                </div>
                            </div>

                            <!--Question 14-->
                            <div class="row d-flex justify-content-center">
                                <h3 class="mb-3">¿Sufre de escalofrio?</h4>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="d-block my-2 ">
                                    <div class="custom-control custom-radio my-2">
                                        <input id="siP14" name="question14" type="radio" class="custom-control-input"
                                            required="" value="1">
                                        <label class="custom-control-label" for="siP14">Si</label>
                                    </div>
                                    <div class="custom-control custom-radio my-1">
                                        <input id="noP14" name="question14" type="radio" class="custom-control-input"
                                            required="" value="0">
                                        <label class="custom-control-label" for="noP14">No</label>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-lg btn-block my-4" type="submit">Enviar
                                respuesta</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</main>