
<main role="main">
    <section class="jumbotron text-center" style="margin-top: 60px;">
      <div class="contenedor-fondo-tabla">         
          <h1 class="jumbotron-heading" id="texto-titulo-noticias">Noticias COVID-19</h1>
          <h2 class="jumbotron-heading" id="texto-titulo-noticias">Perú</h2>
          <p  id="texto-content-noticias" >
            En esta sección puedes ver las noticias mas recientes acerca del COVID-19 y también el estado del virus en el país.
            <br>"La esperanza significa que uno no se rinde a la ansiedad, el derrotismo o la depresión cuando tropieza con dificultades y contratiempos". <br><strong>Daniel Goleman</strong>
          </p>

          <div id="tabla-cifras-contenedor" class="lead row justify-content-center align-items-center minh-500"  > 
            <table class="tabla-cifras">
              <thead >
                <tr id="columns"></tr>
              </thead>
              <tbody id="countries"></tbody>
            </table>
            <script>
              fetch('https://corona.lmao.ninja/v3/covid-19/countries/peru').then(function (response) {
                response.json().then((data) => {
                  const columns = [ { title: 'Casos', field: 'cases' },
                  { title: 'Activos', field: 'active' }, { title: 'Recuperados', field: 'recovered' }, { title: 'Muertes', field: 'deaths' }]
                  document.getElementById('columns').innerHTML += columns.map((column) => `<th>${column.title}</th>`).join("") ;    
                  console.log(data);
                  document.getElementById('countries').innerHTML = `<tr><td>${data.cases}</td><td>${data.active}</td><td>${data.recovered}</td><td>${data.deaths}</td></tr>`
                })
              })
            </script>
          </div>
        </div>
      </div>

    </section>
  
      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
             {{#each noticias}}
            <div class="col-md-3">
              <div class="card mb-4 box-shadow" style="height:90%">
                <div class="container-images-noticias">
                    <img class="imagenes-noticias" src="{{this.image.thumbnail.contentUrl}}">
                </div>               
                <div class="card-body align-items-center m-3">
                  <p class="texto-noticias">{{this.name}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <a href="{{this.url}}" class="btn btn-dark" target="_blank">Leer más</a>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>

    </main>



