
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="margin-top: 60px;">
        <div class="container">
            <h1 class="display-3">Manten tu distancia</h1>
            <p class="lead text-muted">En esta seccion podrás observar variedad de recomendaciones para prevenir el COVID-19</p>
            <p class="lead text-muted">"No te rindas, por favor no cedas, aunque el frío queme, aunque el miedo muerda, aunque el sol se esconda, y se calle el viento, aún hay fuego en tu alma, aún hay vida en tus sueños. Porque la vida es tuya y tuyo también el deseo, porque cada día es un comienzo nuevo, porque esta es la hora y el mejor momento". <strong>Mario Benedetti</strong> </p>
            
        </div>
    </div>

    <div class="container">
        
        <div class="row">
            {{#each recomendaciones}}
            <div class="col-md-4">
                <h4>{{this.name}}</h4>
                <p>{{this.description}}</p>
                <p><a class="btn btn-secondary" href="{{this.url}}" role="button" target="_blank">Seguir leyendo »</a></p>
                <br>
            </div>
            
            {{/each}}
        </div><hr>
        
    </div> <!-- /container -->
</main>





