<main style="width: 100%; margin-top:100px;">
    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-5">Resultados Formulario Diario </h1>

        <!-- Portfolio Item Row -->
        <div class="row" id="enfermo-contenedor">

            <div class="col-md-8" id="imagen-enfer">
                <img class="img-fluid" src="/img/pruebasano1.jpg" alt="">
            </div>

            <div class="col-md-4">
                <div class="estado-salud">
                    <h3 class="my-3">Estado de Salud: SANO </h3>
                    <p>Nos alegramos mucho que se encuentre bien de salud, aun asi la lucha continua, respetemos las
                        normas dictadas por el gobierno y cuidemos de nuestros familiares y amigos</p>
                </div>

                <div class="numeros-emergencia">
                    <h3 class="my-3">Números de emergencia </h3>
                    <ul>
                        <li>Central de emergencias PNP : 105</li>
                        <li>Linea para atender COVID-19 : 113</li>
                        <li>Atención en Cruz Roja : 01 266-0481</li>
                        <li>Linea Seguridad-Emergencias : 911</li>
                    </ul>
                </div>


            </div>
            <div class="btn-test">
                <button onclick="location.href='/perfil'" class="btn btn-primary width-100" type="submit"
                    id="btn-regresar">Regresa a tu
                    perfil </button>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <h3 class="my-4">¿Como apoyar a los demás?</h3>

        <div class="row">

            <div class="col-md-3 col-sm-6 mb-4"  id="youtube">

                <a href="https://www.youtube.com/watch?v=R5iUrAiY1kg">
                    <img class="img-fluid" src="/img/prueba5sano.jpg" alt="">
                    Cuidado de persona con Covid-19
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4" id="youtube">
                <a href="https://www.youtube.com/watch?v=2ksnVJKv2JI">
                    <img class="img-fluid" src="/img/prueba6sano.jpg" alt="" style="height:70%;">
                    Ir al mercado y no contagiarse en el intento
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4" id="youtube">
                <a href="https://www.youtube.com/watch?v=tVaAV19Dw_c">
                    <img class="img-fluid" src="/img/prueba7sano.jpg" alt="" style="height:70%;">
                    Trabajos Home Office en época de Covid-19

                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4" id="youtube">
                <a href="https://www.youtube.com/watch?v=APRvNoktqKg">
                    <img class="img-fluid" src="/img/prueba8sano.jpg" alt="" style="height:70%;">
                    Acuerdo importante con Clinicas en Perú
                </a>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</main>