<main id="bodySignUp" style="width:100%" >
    <div class="row no-gutters bg-dark">
        <div class="col-xl-5 col-lg-12 register-bg">
            <div class="position-absolute testiomonial p-4">
                <h3 class="font-weight-bold text-light">No estas solo, estamos contigo</h3>
                <p class="lead text-black">Que la esperanza y las ganas de luchar nunca nos falten</p>
            </div>
        </div>
        <div class="col-xl-7 col-lg-12 d-flex">
            <div class="container align-self-center p-6 ">
                <h1 class="font-weight-bold mb-3 col md-6">Crea tu cuenta</h1>

                <p class="text-muted col md-6 mb-5 ">Ingresa la siguiente información para registrarte.</p>
                <form>
                    <div class="form-row mb-4">
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold col md-6">Nombre <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Tu nombre" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold col md-6">Apellido <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Tu apellido" required>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold col md-6">Sexo <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Ingresa tu Sexo" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold col md-6">Edad <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Ingresa tu Edad" required>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold col md-6">Telefono <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Ingresa tu numero de celular" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold col md-6">DNI <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Ingresa tu DNI" required>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label class="font-weight-bold col md-6">Correo electrónico <span
                                class="text-danger">*</span></label>
                        <input type="email" class="form-control" placeholder="Ingresa tu correo electrónico" required>
                    </div>
                    <div class="form-group mb-3">
                        <label class="font-weight-bold col md-6">Contraseña <span class="text-danger">*</span></label>
                        <input type="password" class="form-control" placeholder="Ingresa una contraseña" required>
                    </div>

                    <div class="form-row mb-2">
                        <div class="form-group col-md-6 ">
                            <label class="font-weight-bold col md-6">Departamento <span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Ingresa tu Departamento" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold col md-6">Provincia <span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Ingresa tu Provincia" required>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold col md-6">Distrito <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Ingresa tu Distrito" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-bold col md-6">Estado de Salud <span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Sano-Infectado" required>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label class="font-weight-bold col md-6">Domicilio <span class="text-danger">*</span></label>
                        <input type="domicilio" class="form-control" placeholder="Ingresa tu Domicilio" required>
                    </div>
                    <div class="form-group mb-5">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label text-muted">Al seleccionar esta casilla aceptas nuestro aviso
                                de privacidad y los términos y condiciones</label>
                        </div>
                    </div>
                    <button class="btn btn-primary width-100">Regístrate</button>
                </form>
            </div>
        </div>
    </div>
</main>