<div class="signIn">
    
    <div class="container">
        <div class="row justify-content-center text-center pt-4 mt-4 m-1">
            <div class="col -md-6 col-sm-8 col-xl-4 col-lg-5 formulario">
                <div class="form-group pt-5 ">
                     <img src="img/interior.png" class="logo" alt=""> 
                </div>
                <div class="form-group mx-sm-3">
                    <input type="text" class="form-control caja " placeholder="Email">
                </div>
                <div class="form-group mx-sm-3">
                    <input type="password" class="form-control caja" placeholder="Password">
                </div>
                <div class="form-group mx-sm-3 pb-5">
                    <input type="submit" class="btn btn-block boton" value="LOGIN">
                </div>
                <div class="form-group mx-sm-3 pb-5">
                    <label>¿No tienes cuenta?, <label class="registrate"><a class="enlace" href="#">
                        Registrate aqui
                    </a></label></label>
                </div>
                <div class="form-group mx-sm-3">
                    <a href=""class="links"><i class="fab fa-google"></i></a>
                    <a href=""class="m-1 links"><i class="fab fa-twitter"></i></a>
                    <a href=""class="links"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </div>
 </div>
