
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js" rel="stylesheet" ></script>
    <link href="signIn.css" rel="stylesheet">
<main id="bodySignIn" style="width:100%" >
       <div class="row no-gutters bg-dark">
           <div class="col-xl-5 col-lg-12 register-bg">
            <div class="position-absolute testiomonial p-4">
                <h3 class="font-weight-bold text-light">No estas solo, estamos contigo</h3>
                <p class="lead text-black">Que la esperanza y las ganas de luchar nunca nos falten</p>
            </div>
           </div>
           <div class="col-xl-7 col-lg-12 d-flex ">
                <div class="container align-self-center p-6">
                    <h1 class="font-weight-bold mb-4 col-md-6 ">Iniciar Sesión</h1>
                    <p class="text-muted mb-3 col-md-6">Ingresar información </p>

                    <form action="/inicio-de-sesion" method="POST">
                        
                        <div class="form-group mb-4">
                            <label class="font-weight-bold col-md-6">Correo electrónico <span class="text-danger">*</span></label>
                            <input type="email" name="email" class="form-control" placeholder="Ingresa tu correo electrónico" required>
                        </div>
                        <div class="form-group mb-4">
                            <label class="font-weight-bold col-md-6">Contraseña <span class="text-danger">*</span></label>
                            <input type="password" name="contraseña" class="form-control" placeholder="Ingresa una contraseña" required>
                        </div>
                        <div class="form-group mb-4 col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox">
                                <label class="form-check-label text-muted">Mantener Sesion Iniciada</label>
                            </div>
                        </div>
                        <div class="form-group mx-sm-3 pb-3">
                             <label>¿No tienes cuenta? <label class="registrate"><a class="enlace" href="/registrarse">
                                 Registrate aqui
                            </a></label></label>
                         </div>
                        <button class="btn btn-primary width-100">Iniciar Sesion</button>
                    </form>
                </div>
           </div>
       </div>
   </main>