<header id="header">
    <nav class="menu">
      <div class="logo-box">
        <h1><a href="/">Covid 19</a></h1>
        <span class="btn-menu"><i class="fas fa-bars"></i></span>
      </div>
      <div class="list-container">
        <ul class="lists" >
            <li><a href="/" class="active">Inicio</a></li>
            <li><a href="/covid/noticias">Noticias</a></li>
            <li><a href="/covid/recomendaciones">Recomendaciones</a></li>
            <li ><a href="/inicio-de-sesion"class="inicioSesion">Iniciar sesión</a></li>
            <li ><a href="/registrarse" class="registrate">Registrate</a></li>
        </ul>
      </div>
    </nav>
</header>
